{% extends "base.html" %} 

{% block catalog %}
    {% for locomotive in locomotives %}
    <a href="/locomotive/{{locomotive.id}}" class="navbar-brand link-light pb-0 pt-0"><!----> - {{locomotive.series }} - {{ locomotive.number}}</a>
    {% endfor %}
{% endblock %}

{% block title %}Novosti{% endblock %} 
{% block info %}

<div class="w-100">
    
    <div class="card border-dark     mx-auto">
            {% if user.is_authenticated %}
            <!--<a href="/novosti/{{nov.id}}/delete" class="navbar-brand link-light pb-1 pt-1 btn btn-secondary ">Удалить последнюю новость</a>
            -->
            {% endif %}
        <div class="bg-dark ">
            {% for News in nov %}
            
            <div class="bg-white col-auto card-body text-black border-dark d-flex flex-column border-top border-bottom rounded-3">
                <div class="card-title  h1">{{News.header}}</div>
                <div class="card-text ">{{News.text}}</div>
            </div>
            <br>
            
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}